{{!-- Data for the Session Graph --}}
<script>
    var session_history = JSON.parse('{{session_history}}');
</script>


<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-external-link-square-alt"></i>
                T채gliche Logins</div>
            <div class="card-body">
                {{> graphs/session-statistics}}
            </div>
            <div class="card-footer small text-muted">Insgesamt loggten sich Benutzer <b>{{session_count}}</b> mal ein.</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-external-link-square-alt"></i>
                Insgesamte Sch체ler</div>
            <div class="card-body">
                <div class="text-center" id="myPieChart" width="100%" height="100">
                    <h1 style="font-family: 'Aleo', sans-serif; font-size: 60px;"> {{schueler_count}}</h1>
                </div>
            </div>
         <div class="card-footer small text-muted mb-3"></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-external-link-square-alt"></i>
                Insgesamte LehrerBenutzer</div>
            <div class="card-body">
                <div class="text-center" id="myPieChart" width="100%" height="100">
                    <h1 style="font-family: 'Aleo', sans-serif; font-size: 60px;">{{ user_count }}</h1>
                </div>
            </div>
         <div class="card-footer small text-muted mb-3"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-external-link-square-alt"></i>
                Insgesamte Bewertungen</div>
            <div class="card-body">
                <div class="text-center" id="myPieChart" width="100%" height="100">
                    <h1 style="font-family: 'Aleo', sans-serif; font-size: 60px;">{{ bewertungen_count }}</h1>
                </div>
            </div>
            <div class="card-footer small text-muted mb-3"></div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-6">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Letzte hinzugef체gte Nutzer
        </div>
        <div class="card-body">
            <ul class="list-group">
                {{last_users}}
            </ul>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Letzte hinzugef체gte Kurse
        </div>
        <div class="card-body">
            <ul class="list-group">
                {{last_courses}}
            </ul>
        </div>
    </div>
    </div>
</div>
</div>