<div class="container">
    <h5>Es wurden <b>{{new_klassen}}</b> Klassen erstellt:</h5>
    <table class="table table-sm table-hover table-striped">
        <thead class="thead-inverse">
        <tr>   
            <th><b>#</b></th>
            <th>Lehrer</th>
            <th>Stufe</th>
        </tr>
        </thead>
        <tbody>
            {{#each klassen}}
            <tr>
                <td><b>{{@index}}</b></td>
                <td>{{lehrer}} (<b>{{lehrer_s}}</b>) und {{lehrer_sec}} (<b>{{lehrer_s_sec}}</b>) </td>
                <td>{{stufe}} {{suffix}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <h5>Es wurden <b>{{new_kurse}}</b> Kursen erfolgreich hinzugef端gt:</h5>
    <table class="table table-sm table-hover table-striped">
        <thead class="thead-inverse">
        <tr>   
            <th><b>#</b></th>
            <th>Name</th>
            <th>Bezeichnung</th>
            <th>Fachlehrer</th>
            <th>Fachlehrer (K端rzel)</th>
            <th>Leistungsebene</th>
            <th>Klasse</th>
        </tr>
        </thead>
        <tbody>
            {{#each kurse}}
            {{#if err}}
            <tr class="table-danger" data-toggle="tooltip" data-placement="top" title="Der Lehrer '{{fl_username}}' konnte nicht im System gefunden werden.">
                <td><b>{{@index}}</b></td>
                <td>{{raw_name}}</td>
                <td>{{{name}}}</td>
                <td><b><span style='color: red;'><i class="fas fa-exclamation-circle mr-2"></i></span>{{{fl_name}}}</b></td>
                <td>{{fl_username}}</td>
                <td>{{leistungsebene}}</td>
                <td>{{jahrgang}}</td>
            </tr>
            {{else}}
            <tr class="table-success">
                <td><b>{{@index}}</b></td>
                <td>{{raw_name}}</td>
                <td>{{name}}</td>
                <td>{{fl_name}}</td>
                <td>{{fl_username}}</td>
                <td>{{leistungsebene}}</td>
                <td>{{jahrgang}}</td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    <br>
    <h5>Es wurden <b>{{new_schueler}}</b> Sch端ler hinzugef端gt:</h5>
    <table class="table table-sm table-hover table-striped">
        <thead class="thead-inverse">
        <tr>   
            <th><b>#</b></th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Klasse</th>
        </tr>
        </thead>
        <tbody>
            {{#each schueler}}
            <tr class="table-success">
                <td><b>{{@index}}</b></td>
                <td>{{Familienname}}</td>
                <td>{{Vornamen}}</td>
                <td>{{Klasse}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>