<link href="/css/star-rating.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/bewertung.js"></script>

<div class="container-fluid mb-3">
    <div class="container-fluid border">
        <br>
        <div class="container-fluid">
            <div class="card-header" style="background-color: #e9ecef;">
                Neuer Bewertung für {{schuelername}}
            </div>

            <div class="card-body">
                <form action="/bewertung/neu" method="post" autocomplete="off">

                    {{!-- META DATA -> Hidden values--}}
                    <input type="hidden" name="schueler_id" id="schueler_id" readonly="readonly" value="{{schuelerid}}">
                    <input type="hidden" name="kurs_id" id="kurs_id" readonly="readonly" value="{{kursid}}"> 
                    <input type="hidden" name="next" id="next" readonly="readonly" value="{{next}}"> 
                    
                    
                    <!-- Danger-Nachricht: Wenn nicht alles ausgefüllt wurde-->

                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="missing" hidden>
                        <strong class="h5">Achtung!</strong> {{missing_value}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name der Schülerin / des Schülers:</label>
                            <input type="text" name="name" class="form-control" id="name" readonly="readonly" placeholder="{{schuelername}}" value="{{schuelername}}">

                        </div>
                        <div class="form-group col-md-2">
                            <label for="fach">Fach:</label>
                            <input type="text" name="fach" class="form-control" id="fach" placeholder="Fach" readonly="readonly" placeholder="{{kursname}}"
                                value="{{kursname}}">
                        </div>
                        {{#if leistungsebene}}
                        <div class="form-group col-md-2">
                            <label for="leistungsebene">Leistungsebene:</label>
                            <input type="text" name="leistungsebene" class="form-control" id="leistungsebene" placeholder="leistungsebene" readonly="readonly"
                                placeholder="{{leistungsebene}}" value="{{leistungsebene}}">
                        </div>
                        {{/if}}
                    </div>

                    {{!
                    <div class="form-row mt-3">
                        <div class="form-group col-md-12">
                            <p>
                                In einem verbindlichen Gespräch zwischen Schüler/in, Eltern und Tutoren werden Lernentwicklung und Leistungsstand gewürdigt.
                                Eine gemeinsame Zielvereinbarung kann die Weiterentwicklung in der Schule unterstützen. Diese
                                Information über die Lernentwicklung der Schülerin/des Schülers ersetzt gemäß ÜSchO §59 (3)
                                die Verbalbeurteilung zum Halbjahr. 
                            </p>
                        </div>
                    </div>
                    }}

                    {{!-- Erklärung der Sterne--}}
                    {{! spacer <div class="col-xs-12 mt-4"><hr></div>}}
                    {{!-- 4 Sterne: Prima--}}
                    <div class="form-row mb-0 mt-4 mr-0">
                        <div class="form-group col-md-1 ml-0 mb-0 mr-0">
                            <div class="ml-0 mb-0 mr-0" style="text-align: right;">
                                <div class="rating-fix">
                                    <input id="rating_1" name="rating_1" type="radio" class="radio-btn hide" />
                                    <label for="rating_1" class="filled">☆</label>
                                    <input id="rating_2" name="rating_2" type="radio" class="radio-btn hide" />
                                    <label for="rating_2" class="filled">☆</label>
                                    <input id="rating_3" name="rating_3" type="radio" class="radio-btn hide" />
                                    <label for="rating_3" class="filled">☆</label>
                                    <input id="rating_4" name="rating_4" type="radio" class="radio-btn hide" />
                                    <label for="rating_4" class="filled">☆</label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1 mb-0 ml-0 rating-text">
                            <p class="mb-0 ml-1">prima:</p>
                        </div>
                        <div class="form-group col-md-5 mb-0 ml-0 rating-text">
                            Du machst es hervorragend.
                        </div>

                    </div>

                    {{!-- 3 Sterne: meist--}}
                    <div class="form-row mb-0 mt-0 mr-0">
                        <div class="form-group col-md-1 ml-0 mb-0 mr-0">
                            <div class="ml-0 mb-0 mr-0" style="text-align: right;">
                                <div class="rating-fix">
                                    <input id="rating_11" name="rating_11" type="radio" class="radio-btn hide" />
                                    <label for="rating_11" class="filled">☆</label>
                                    <input id="rating_12" name="rating_12" type="radio" class="radio-btn hide" />
                                    <label for="rating_12" class="filled">☆</label>
                                    <input id="rating_13" name="rating_13" type="radio" class="radio-btn hide" />
                                    <label for="rating_13" class="filled">☆</label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1 mb-0 ml-0 rating-text">
                            <p class="mb-0 ml-1">meist:</p>
                        </div>
                        <div class="form-group col-md-5 mb-0 ml-0 rating-text">
                            Es gelingt dir häufig.
                        </div>

                    </div>

                    {{!-- 2 Sterne: meist--}}
                    <div class="form-row mb-0 mt-0 mr-0">
                        <div class="form-group col-md-1 ml-0 mb-0 mr-0">
                            <div class="ml-0 mb-0 mr-0" style="text-align: right;">
                                <div class="rating-fix">
                                    <input id="rating_111" name="rating_111" type="radio" class="radio-btn hide" />
                                    <label for="rating_111" class="filled">☆</label>
                                    <input id="rating_112" name="rating_112" type="radio" class="radio-btn hide" />
                                    <label for="rating_112" class="filled">☆</label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1 mb-0 ml-0 rating-text">
                            <p class="mb-0 ml-1">teilweise:</p>
                        </div>
                        <div class="form-group col-md-5 mb-0 ml-0 rating-text">Es gelingt dir manchmal. Du brauchst noch Erinnerung.
                        </div>
                    </div>

                    {{!-- 1 Sterne: meist--}}
                    <div class="form-row mb-0 mt-0 mr-0">
                        <div class="form-group col-md-1 ml-0 mb-0 mr-0">
                            <div class="ml-0 mb-0 mr-0" style="text-align: right;">
                                <div class="rating-fix">
                                    <input id="rating_1111" name="rating_1111" type="radio" class="radio-btn hide" />
                                    <label for="rating_1111" class="filled">☆</label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1 mb-0 ml-0 rating-text">
                            <p class="mb-0 ml-1">zu wenig:</p>
                        </div>
                        <div class="form-group col-md-5 mb-0 ml-0 rating-text">
                            Du musst noch viel üben und brauchst noch sehr oft Hilfe.
                        </div>
                    </div>


                    <!-- SOZIALVERHALTEN -->
                    <div class="border mt-4">
                        <div class="ml-5 mr-1 mt-3 mb-1">
                            <h5 class="h5 mb-3"> Sozialverhalten</h5>
                        </div>
                        <div class="ml-4 mb-4">

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">1. Du bist anderen gegenüber höflich, rücksichts- und respektvoll.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="star4" name="soz_1" type="radio" value="4" class="radio-btn hide"/>
                                            <label for="star4" onclick="removeComment(1)">☆</label>
                                            <input id="star3" name="soz_1" type="radio" value="3" class="radio-btn hide"/>
                                            <label for="star3" onclick="removeComment(1)">☆</label>
                                            <input id="star2" name="soz_1" type="radio" value="2" class="radio-btn hide"/>
                                            <label for="star2" onclick="removeComment(1)">☆</label>
                                            <input id="star1" name="soz_1" type="radio" value="1" class="radio-btn hide"/>
                                            <label for="star1" onclick="addAdditionalComment(1)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_1"></div>
                            {{!-- Wird bei einem Stern hinzugefügt
                            <div class="form-row mb-0" id="startbox_1">
                                <div class="form-group col-md-6 border mb-0 px-0">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text no-border">Brgründung:</span>
                                        </div>
                                        <textarea class="form-control no-border" type="text" name="kommentar" id="kommentar" placeholder="..." rows="1"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0"></div>
                            </div>
                            --}}
                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">2. Du bist hilfsbereit.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="star14" name="soz_2" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star14" onclick="removeComment(2)">☆</label>
                                            <input id="star13" name="soz_2" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star13" onclick="removeComment(2)">☆</label>
                                            <input id="star12" name="soz_2" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star12" onclick="removeComment(2)">☆</label>
                                            <input id="star11" name="soz_2" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star11" onclick="addAdditionalComment(2)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_2"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">3. Du kannst mit Kritik umgehen.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="star24" name="soz_3" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star24" onclick="removeComment(3)">☆</label>
                                            <input id="star23" name="soz_3" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star23" onclick="removeComment(3)">☆</label>
                                            <input id="star22" name="soz_3" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star22" onclick="removeComment(3)">☆</label>
                                            <input id="star21" name="soz_3" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star21" onclick="addAdditionalComment(3)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_3"></div>

                            
                            <div class="form-row mb-0">
                                <div class="form-group col-md-8 border mb-0">
                                    <p class="mb-0 ml-3">4. Du hälst dich an die vereinbarten ...</p>
                                </div>
                            </div>
                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-5">Gesprächsregeln.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="star44" name="soz_4_1" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star44" onclick="removeComment(41)">☆</label>
                                            <input id="star43" name="soz_4_1" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star43" onclick="removeComment(41)">☆</label>
                                            <input id="star42" name="soz_4_1" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star42" onclick="removeComment(41)">☆</label>
                                            <input id="star41" name="soz_4_1" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star41" onclick="addAdditionalComment(41)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_41"></div>
                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-5">Schulregeln.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="star441" name="soz_4_2" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star441" onclick="removeComment(42)">☆</label>
                                            <input id="star431" name="soz_4_2" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star431" onclick="removeComment(42)">☆</label>
                                            <input id="star421" name="soz_4_2" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star421" onclick="removeComment(42)">☆</label>
                                            <input id="star411" name="soz_4_2" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star411" onclick="addAdditionalComment(42)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_42"></div>
                            
                        </div>
                    </div>
                    <!-- END OF SOZIALVERHALTEN -->

                    <!-- ARBEITSVERHALTEN -->
                    <div class="mt-4 border">
                        <div class="ml-5 mr-1 mt-3 mb-1">
                            <h5 class="h5 mb-3"> Lern- und Arbeitsverhalten</h5>
                        </div>
                        <div class="ml-4 mb-4">
                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">1. Du sorgst für vollständige Arbeitsmaterialien.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="astar14" name="lernab_1" type="radio" value="4" class="radio-btn hide" />
                                            <label for="astar14" onclick="removeComment(5)">☆</label>
                                            <input id="astar13" name="lernab_1" type="radio" value="3" class="radio-btn hide" />
                                            <label for="astar13" onclick="removeComment(5)">☆</label>
                                            <input id="astar12" name="lernab_1" type="radio" value="2" class="radio-btn hide" />
                                            <label for="astar12" onclick="removeComment(5)">☆</label>
                                            <input id="astar11" name="lernab_1" type="radio" value="1" class="radio-btn hide" />
                                            <label for="astar11" onclick="addAdditionalComment(5)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_5"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">2. Du bist zuverlässig und organisierst dich selbst.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="astar24" name="lernab_2" type="radio" value="4" class="radio-btn hide" />
                                            <label for="astar24" onclick="removeComment(6)">☆</label>
                                            <input id="astar23" name="lernab_2" type="radio" value="3" class="radio-btn hide" />
                                            <label for="astar23" onclick="removeComment(6)">☆</label>
                                            <input id="astar22" name="lernab_2" type="radio" value="2" class="radio-btn hide" />
                                            <label for="astar22" onclick="removeComment(6)">☆</label>
                                            <input id="astar21" name="lernab_2" type="radio" value="1" class="radio-btn hide" />
                                            <label for="astar21" onclick="addAdditionalComment(6)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_6"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">3. Du arbeitest konzentriert und folgst dem Unterricht aufmerksam.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="astar34" name="lernab_3" type="radio" value="4" class="radio-btn hide" />
                                            <label for="astar34" onclick="removeComment(7)">☆</label>
                                            <input id="astar33" name="lernab_3" type="radio" value="3" class="radio-btn hide" />
                                            <label for="astar33" onclick="removeComment(7)">☆</label>
                                            <input id="astar32" name="lernab_3" type="radio" value="2" class="radio-btn hide" />
                                            <label for="astar32" onclick="removeComment(7)">☆</label>
                                            <input id="astar31" name="lernab_3" type="radio" value="1" class="radio-btn hide" />
                                            <label for="astar31" onclick="addAdditionalComment(7)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_7"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">4. Dein Arbeitstempo ist angemessen.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="bastar34" name="lernab_4" type="radio" value="4" class="radio-btn hide" />
                                            <label for="bastar34" onclick="removeComment(8)">☆</label>
                                            <input id="bastar33" name="lernab_4" type="radio" value="3" class="radio-btn hide" />
                                            <label for="bastar33" onclick="removeComment(8)">☆</label>
                                            <input id="bastar32" name="lernab_4" type="radio" value="2" class="radio-btn hide" />
                                            <label for="bastar32" onclick="removeComment(8)">☆</label>
                                            <input id="bastar31" name="lernab_4" type="radio" value="1" class="radio-btn hide" />
                                            <label for="bastar31" onclick="addAdditionalComment(8)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_8"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">5. Du zeigst dich lernbereit.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="cbastar34" name="lernab_5" type="radio" value="4" class="radio-btn hide" />
                                            <label for="cbastar34" onclick="removeComment(9)">☆</label>
                                            <input id="cbastar33" name="lernab_5" type="radio" value="3" class="radio-btn hide" />
                                            <label for="cbastar33" onclick="removeComment(9)">☆</label>
                                            <input id="cbastar32" name="lernab_5" type="radio" value="2" class="radio-btn hide" />
                                            <label for="cbastar32" onclick="removeComment(9)">☆</label>
                                            <input id="cbastar31" name="lernab_5" type="radio" value="1" class="radio-btn hide" />
                                            <label for="cbastar31" onclick="addAdditionalComment(9)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_9"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">6. Du lässt dich nicht so schnell entmutigen.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="dcbastar34" name="lernab_6" type="radio" value="4" class="radio-btn hide" />
                                            <label for="dcbastar34" onclick="removeComment(10)">☆</label>
                                            <input id="dcbastar33" name="lernab_6" type="radio" value="3" class="radio-btn hide" />
                                            <label for="dcbastar33" onclick="removeComment(10)">☆</label>
                                            <input id="dcbastar32" name="lernab_6" type="radio" value="2" class="radio-btn hide" />
                                            <label for="dcbastar32" onclick="removeComment(10)">☆</label>
                                            <input id="dcbastar31" name="lernab_6" type="radio" value="1" class="radio-btn hide" />
                                            <label for="dcbastar31" onclick="addAdditionalComment(10)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_10"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">7. Du beteiligst dich aktiv am Unterrichtsgeschehen.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="edcbastar34" name="lernab_7" type="radio" value="4" class="radio-btn hide" />
                                            <label for="edcbastar34" onclick="removeComment(11)">☆</label>
                                            <input id="edcbastar33" name="lernab_7" type="radio" value="3" class="radio-btn hide" />
                                            <label for="edcbastar33" onclick="removeComment(11)">☆</label>
                                            <input id="edcbastar32" name="lernab_7" type="radio" value="2" class="radio-btn hide" />
                                            <label for="edcbastar32" onclick="removeComment(11)">☆</label>
                                            <input id="edcbastar31" name="lernab_7" type="radio" value="1" class="radio-btn hide" />
                                            <label for="edcbastar31" onclick="addAdditionalComment(11)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_11"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-8 border mb-0">
                                    <p class="mb-0 ml-3">8. Du arbeitest eigenverantwortlich und selbstbestimmt in Phasen
                                        der ...</p>
                                </div>
                            </div>
                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-5"><b>Einzelarbeit</b></p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="astar44" name="lernab_8_1" type="radio" value="4" class="radio-btn hide" />
                                            <label for="astar44" onclick="removeComment(12)">☆</label>
                                            <input id="astar43" name="lernab_8_1" type="radio" value="3" class="radio-btn hide" />
                                            <label for="astar43" onclick="removeComment(12)">☆</label>
                                            <input id="astar42" name="lernab_8_1" type="radio" value="2" class="radio-btn hide" />
                                            <label for="astar42" onclick="removeComment(12)">☆</label>
                                            <input id="astar41" name="lernab_8_1" type="radio" value="1" class="radio-btn hide" />
                                            <label for="astar41" onclick="addAdditionalComment(12)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_12"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-5"><b>Gruppenarbeit</b></p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="bstar441" name="lernab_8_2" type="radio" value="4" class="radio-btn hide" />
                                            <label for="bstar441" onclick="removeComment(13)">☆</label>
                                            <input id="bstar431" name="lernab_8_2" type="radio" value="3" class="radio-btn hide" />
                                            <label for="bstar431" onclick="removeComment(13)">☆</label>
                                            <input id="bstar421" name="lernab_8_2" type="radio" value="2" class="radio-btn hide" />
                                            <label for="bstar421" onclick="removeComment(13)">☆</label>
                                            <input id="bstar411" name="lernab_8_2" type="radio" value="1" class="radio-btn hide" />
                                            <label for="bstar411" onclick="addAdditionalComment(13)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_13"></div>

                            <div class="form-row mb-0">
                                <div class="form-group col-md-6 border mb-0">
                                    <p class="mb-0 ml-3">9. Du fertigst deine Hausaufgaben regelmäßig an.</p>
                                </div>
                                <div class="form-group col-md-2 border ml-0 mb-0">
                                    <div class="ml-4 mb-0">
                                        <div class="rating">
                                            <input id="bstar54" name="lernab_9" type="radio" value="4" class="radio-btn hide" />
                                            <label for="bstar54" onclick="removeComment(14)">☆</label>
                                            <input id="bstar53" name="lernab_9" type="radio" value="3" class="radio-btn hide" />
                                            <label for="bstar53" onclick="removeComment(14)">☆</label>
                                            <input id="bstar52" name="lernab_9" type="radio" value="2" class="radio-btn hide" />
                                            <label for="bstar52" onclick="removeComment(14)">☆</label>
                                            <input id="bstar51" name="lernab_9" type="radio" value="1" class="radio-btn hide" />
                                            <label for="bstar51" onclick="addAdditionalComment(14)">☆</label>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starbox_14"></div>
                        </div>
                    </div>
                    <!-- END OF ARBEITSVERHALTEN -->

                    <div class="form-group mt-4 mb-1">
                        <label for="exampleFormControlTextarea1">Zusätzlicher Kommentar:</label>
                        <textarea class="form-control" type="text" name="kommentar" id="kommentar" placeholder="Hier ist Platz für einen zusätzlichen Kommentar..."
                            rows="3" maxlength="250"></textarea>
                        <div id="char_count"></div>
                    </div>

                    <button type="submit" id="submit_button" value="Submit" class="mt-3 btn btn-primary">Bewertung erstellen</button>

                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
 $('#kommentar').on('input propertychange', function() {
 // var max_len = 250;
 var len = $(this).val().trim().length; 
 $('#char_count').text(len > 0 ? len + '/ 250' : ''); 
 });
</script>