<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="/"> SELG Tutorentool </a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Blank Space zwischen linker und rechter Navbar -->
      {{!-- Searchbar --}}
  <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-4 my-md-0" action="/search" method="post" autocomplete="off">
    <div class="input-group">
      <input type="text" name="nametofind" class="form-control" placeholder="Schüler finden..." aria-label="Suchen" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" value="Submit" >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
    {{! Rechte Navbar }}
    <ul class="navbar-nav ml-auto ml-md-0">
        {{! Alerts }}
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
               {{#ifEqual announcements_count 0}}{{else}}<span class="badge badge-danger">{{announcements_count}}{{/ifEqual}}</span>
            </a>
            {{! Dropdown for Profil }}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item"><span><i class="pull-right"></i><i class="fas fa-bullhorn mr-2 text-primary"></i> Ankündigungen</span></a>
                <div class="dropdown-divider mb-3"></div>
                <div class="container" style="width: 35rem; height: auto;">
                   <div class="list-group">
                  {{formatAnnouncements announcements}}
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                 <a class="dropdown-item"><span class="text-muted small"><i class="pull-right"></i>Aktualisiert um {{currentTime}} </span></a>
            </div>
        </li>

        <!-- BUG REPORT -->
        <!-- Reports -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-flag" style="color:#dd403e"></i>
            </a>
            <!-- Dropdown for Reports -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item"><span><i class="pull-right"></i><i class="fas fa-flag mr-2"></i>Fehler Melden</span></a>
                <div class="dropdown-divider mb-3"></div>
                
                <div class="container" style="width: 35rem; height: auto;">
                   <div class="list-group" style="border: 0px">
                    
 
                      <form  action="/bugreport" method="post" autocomplete="off">
                        <div class="form-group">
                          <label for="">Beschreiben Sie den Fehler:</label>
                          <textarea class="form-control" name="inhalt" id="inhalt" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="url" id="url" value="{{url}}"> 
                        <button type="submit" class="btn btn-primary" style="width: 7rem;">Absenden</button>
                      </form>
                  </div>
                </div>

                <div class="dropdown-divider"></div>
                 <a class="dropdown-item"><span class="text-muted small"><i class="pull-right"></i>Aktualisiert um {{currentTime}} </span></a>
               

            </div>
        </li>
        
        <!-- Profil -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <!-- Dropdown for Profil -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"><span><i class="pull-right"></i>Angemeldet als <strong>
                            {{ genDisplayName fullname}}</strong></span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/profil"><span><i class="pull-right fas fa-user-circle"></i> Mein Profil</span></a>
                <a class="dropdown-item" href="/einstellungen"><span><i class="pull-right fas fa-cog"></i> Einstellungen</span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><span><i class="pull-right fas fa-sign-out-alt"></i>
                        Abmelden</span></a>
            </div>
        </li>
    </ul>
</nav>