<div class="container-fluid mb-5">
    <div class="container-fluid border py-3">
    <table width="100%" cellspacing="0" class="table table-hover table-striped table-bordered mt-5" id="dataTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Stufe</th>
          <th scope="col">Klasse</th>
        </tr>
      </thead>
      <tbody>
        {{#each schueler}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{vorname}}</td>
              <td>{{nachname}}</td>
              <td>{{stufe}}</td>
              <td>{{klassen_suffix}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
</div>


<script>
    // Basic example
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "ordering": true,
            "paging": true,
            "info": false,
            "searching": true,
            "language": {
                "lengthMenu": "Zeige _MENU_ Schüler pro Seite",
                "zeroRecords": "Keine Übereinstimmung",
                "search": "Suche:",
                "paginate": {
                    "first":      "Zurück",
                    "last":       "Zurück",
                    "next":       "Nächste Seite",
                    "previous":   "Vorherige Seite"
                },
            }
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>